#manage{
    display: none;
}
.main {
    position: relative;
    top: 20vh;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-items: start;
    gap: 3vh;
    padding: 20px;
}
.card {
    /* width: 250px; */
    padding: 3vh;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(120, 111, 224, 0.6);
    color: rgba(73, 61, 158,0.7);
    text-align: center;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
.card:hover {
    transform: translateY(-5px);
    text-decoration: underline;
    color: rgba(73, 61, 158,1);
}
.img img {
    width: 25vw;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
}
.name p {
    font-size: 16px;
    font-weight: 500;
    /* color: #333; */
}