.main {
    position: relative;
    top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Update student form container */
.update-container {
    width: 40vw;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 12px;
    box-shadow: 0 0 10px #786fe0c8;
}

h2 {
    left: 12vw;
    position: relative;
    display: inline;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#updateStudentForm label {
    display: block;
    margin-top: 10px;
    font-weight: 500;
    color: #444;
}

#updateStudentForm input,
#updateStudentForm select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

#updateStudentForm button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #786fe080;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#updateStudentForm button:hover {
    background-color: #786fe0ff;
}
